.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post__body{
    flex: 1;
    padding: 10px;
}



.post__body > img {
    border-radius: 20px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__avatar{
    padding: 20px;
}


.post__chatStyling{
    color: rgb(91, 112, 131);
    
}

.post__repeatStyling{
    color: rgb(91, 112, 131);
}

.post__favoriteStyling{
    color: rgb(91, 112, 131);
}

.post__chatFormating{
    color: #5B7083;
    padding-left: 10px;
    padding-right: 10px;
}

.post__repeatFormating{
    color: #5B7083;
    padding-left: 10px;
    padding-right: 10px;
}

.post__favoriteFormating{
    color: #5B7083;
    padding-left: 10px;
    padding-right: 10px;
}

.post__chatSpan:hover .post__chatFormating{
   color: rgba(29,161,242,1.00);
    
}

.post__chatStyling:hover {
    color: rgba(29,161,242,1.00);
}

.post__repeatSpan:hover .post__repeatFormating{
    color: rgb(23,191,99);
}

.post__repeatStyling:hover {
    color: rgb(23,191,99);
}

.post__favoriteSpan:hover .post__favoriteFormating{
    color: rgb(224, 36, 94);
}

.post__favoriteStyling:hover {
    color: rgb(224, 36, 94);
}